/lib

##### OS FILES
.DS_Store
.history
version.txt

##### Editors
.*.swp
.idea
.vscode
.vs
*.iml
*.sublime-project
*.sublime-workspace

##### BUILD
node_modules
npm-debug.log
*.tsbuildinfo
package-lock.json

.cache
coverage
