vite.config.ts
prettier.config.js
.prettierignore
eslint.config.js
.nvmrc
.npmrc
tsconfig.json
src
.github
lib/**/*.spec.js
lib/**/*.spec.d.ts
lib/**/*.spec.js.map
esm/**/*.spec.js
esm/**/*.spec.d.ts
esm/**/*.spec.js.map
